*{
    font-family: inter;

}

/* NAVBAR */

.navbar .topnav-right a{
    border-radius: 35px;
    font-weight: bold;
    background-color: #3494B2;
    color: #ffffff;
} 
.navbar .topnav-right a:hover{
        color: black;
        transition: all ease 0.3s;
}
.navbar a:hover{
    color: #205E71;
}


.container {
    width: 1300px;
    padding: 4em 1em;
}

/* CTA WASSAPP */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



/* ARTIKEL */
.card {
    margin-left : 100px;
 

}

.card a{
    border-radius: 35px;
    /* margin-left: 320px; */
    background-color: #3494B2;
    color: #ffffff;
} 

/* LIST ARTIKEL */
 .list-group {
    margin-left: 50px;
    margin-right: -100px; 
}  

/* IKLAN CTA */
.iklan{
    margin-left: 50px;
    /* margin-right: -100px; */
}

/* .iklan h2{
    /* margin-left: 50px;
    

} */

.tombol button{
    /* margin-left: 50px; */
    border-radius: 35px;
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3494B2;
}





/* FOOTER */
footer{
    position:fixed;
    bottom: 0;
}

.footer{
    background-color: aliceblue;
    box-sizing: border-box;
    width: 100%;
    text-align: left ;
    font: bold 16px inter;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px){
    footer{
        position: static;
    }
}

.footer .footer-left{
    width: 30%;
}

.footer h3{
    color: black;
    margin: 0;
    padding-bottom: 20px;
    font-family: inter; 
}

.footer .footer-left img{
    width: 40%;
    vertical-align: middle;

}.footer .footer-left .logo{
    width: 100%;
}

.footer .footer-copyright{
    color:black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10% ;
}

.footer .footer-center{
    width: 35%;
}

.footer .footer-center i{
    background-color: rgb(3, 94, 179);
    color:white ;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin:10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p{
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span{
    display: block;
    font-weight:normal;
    font-size:14px;
    line-height:2;
}

.footer .footer-center p a{
    color: black;
    text-decoration: none;
}

.footer .footer-right{
    width: 30%;
}

.footer-right .button {
    border-radius: 35px;
    margin-top: 10px;
    /* margin-left: 250px; */
}


.footer .footer-about{
    line-height: 20px;
    color: grey;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-center span{
    display:block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media{
    margin-top: 25px;
    margin-left: 120px;
}

.footer .footer-media a{
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(3, 94, 179);
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(7, 102, 211);
}

@media (max-width: 880px){
    .footer .footer-left, 
    .footer .footer-center, 
    .footer .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }
    
    .footer .footer-center i{
        margin-left:0px;
    }
    
}
